@keyframes loading {
    0%{
        background-color: hsl(200, 20%, 95%);
    }
    100%{
        background-color: hsl(200, 20%, 100%);
    }
}
.loader{

    animation: loading 1s linear infinite alternate;
    width: 100vw;
    height: 100vh
}